<GridLayout rows="auto, *">

  <TabView *ngIf="isLoaded" row="1" selectedIndex="0" iosIconRenderingMode="alwaysOriginal">
    <ScrollView *tabItem="{title: 'General'}">     
    </ScrollView>
    <PullToRefresh *tabItem="{title: 'Adventures'}" (refresh)="refresh($event)">
      <ListView [items]="user.travellers">
        <ng-template let-item="item">
          <StackLayout class="traveller" orientation="horizontal">            
          </StackLayout>
        </ng-template>
      </ListView>
    </PullToRefresh>
    <ScrollView *tabItem="{title: 'About'}">     
    </ScrollView>
  </TabView>

  <StackLayout *ngIf="error" row="1">
    <Label text="Please, check your internet connection. " class="title"></Label>
    <Label text="An error occured:" class="error"></Label>
    <TextView [text]="error.toString()"></TextView>
  </StackLayout>

  <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center"
    verticalAlignment="center"></ActivityIndicator>

</GridLayout>
