<GridLayout rows="auto, *">


  <TabView *ngIf="isLoaded" row="1" selectedIndex="0" iosIconRenderingMode="alwaysOriginal">
    <ScrollView *tabItem="{title: 'General'}">
      <StackLayout>
        <ImageSwipe *ngIf="trip.photos.length" [items]="images" imageUrlProperty="url" [height]="imageHeight"></ImageSwipe>
        <Label [text]="trip.name"></Label>
        <StackLayout class="organiser" orientation="horizontal">
          <Image [src]="getPhoto(trip.organiser.photo)" stretch="aspectFit"></Image>
          <StackLayout>
            <Label [text]="trip.organiser.name" class="caption"></Label>
            <Label [text]="organiserInfo(trip.organiser)" class="muted"></Label>
          </StackLayout>
        </StackLayout>
        <Label [text]="dateInterval(trip)" class="muted"></Label>
        <WrapLayout orientation="horizontal" class="destinations">
          <Label *ngFor="let dest of trip.destination; let i = index" [text]="dest"></Label>
        </WrapLayout>
        <Label [text]="partnersCount(trip)" class="muted"></Label>
        <Label [text]="budget(trip)"></Label>
        <Label [text]="tags(trip)" class="blue"></Label>
        <TextView [text]="trip.description" editable="false"></TextView>
        <TextView [text]="trip.descriptionDetails" editable="false"></TextView>
        <TextView [text]="trip.requirements" editable="false"></TextView>
      </StackLayout>
    </ScrollView>
    <PullToRefresh *tabItem="{title: 'Travellers'}" (refresh)="refresh($event)">
      <ListView [items]="trip.travellers">
        <ng-template let-item="item">
          <StackLayout class="traveller" orientation="horizontal">
            <Image [src]="getPhoto(item.user.photo)" stretch="aspectFit"></Image>
            <StackLayout>
              <Label [text]="item.user.name" class="caption"></Label>
              <Label [text]="travellerInfo(item)" class="info" [style]="travellerStyle(item)"></Label>
            </StackLayout>
          </StackLayout>
        </ng-template>
      </ListView>
    </PullToRefresh>
    <ListView *tabItem="{title: 'To do'}" [items]="trip.schedule">
      <ng-template let-item="item" let-i="index">
        <StackLayout>
          <Label [text]="'Day ' + (i+1)"></Label>
          <Label [text]="todo.description" *ngFor="let todo of item.todos" class="muted"></Label>
        </StackLayout>
      </ng-template>
    </ListView>
  </TabView>

  <StackLayout *ngIf="error" row="1">
    <Label text="Please, check your internet connection. " class="title"></Label>
    <Label text="An error occured:" class="error"></Label>
    <TextView [text]="error.toString()"></TextView>
  </StackLayout>

  <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" row="1" horizontalAlignment="center"
    verticalAlignment="center"></ActivityIndicator>

</GridLayout>
